@media screen and (max-width: 1024px) {
  .mdl-layout__header-row {
    font-size: 10px;
    height: 115%;
  }
}

@media screen and (max-width: 736px) {
  .mdl-tabs {
    display: none;
  }
}

.logo-font {
  padding-top: 250px;
  font-size: 60px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: grey;
  font-weight: 300;
  line-height: 1;
}


.logo-font__sublogo {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  padding-top: 270px;
  font-weight: 300;
  font-size: 60px;
  color: white
}

.boilerplate-section {
  position: relative;
  height: 800px;
  width: auto;
  background: url('assets/switchel-room.jpg') center 30% no-repeat;
  background-size: cover;
}

.switchel-transparent {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(1%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))),url('assets/switchel-room.jpg') center / cover;
}

.layout-logo {
  height: 150px;
  position: relative;
  top: 5px;
}

.mdl-layout__header.is-casting-shadow {
  height: 55px;
}

.logo-font-typed {
  margin-left: 6px;
}

.logo_text {
  height: 24px;
  margin-left: 10px;
}

.logo {
  height: 35px;
  padding-right: 10px;
}

.nav-item {
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.mdl-layout__header {
  background-color: white;
  min-height: 55px;
}

.mdl-layout__header-row .mdl-navigation__link {
  color: black;
}

.mdl-grid.initial {
  overflow: hidden;
  background-color: #03A9F4;
  height: 370px;
  width: 100%;
  box-shadow:  0px 0px 8px 2px #000000;
}

.mdl-grid.container {
  background-color: white;
}

.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect-button {
  background: white;
  color: #03A9F4;
}

.mdl-cell.mdl-cell--6-col.mdl-cell--8-col-tablet-image {
  margin-top:112px;
  /*padding-left: 140px;*/
  /*background: url('./assets/img_mobile_device.png') no-repeat;*/
}

.mdl-cell.mdl-cell--5-col.mdl-cell--8-col-tablet-text {
  margin-top: 80px;
  margin-left: 100px;
}

.mdl-cell.mdl-cell--5-col.mdl-cell--8-col-tablet-services {
  margin-top: 40px;
  margin-left: 100px;
}
.under-header-text {
  font-size: 15px;
  color: white;
  font-weight: 200;
}
.header-text {
  font-size: 35px;
  color: white;
}
.mdl-tabs {
  margin-left: 40px;
}

.mdl-layout__header-row {
  padding: 0 24px;
}

.our-service {
  font-size: 35px;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}

.mdl-card.right {
  float: right;
}
