.logo-font {
  padding-top: 250px;
  font-size: 60px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: grey;
  font-weight: 300;
  line-height: 1;
}


.logo-font__sublogo {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  padding-top: 270px;
  font-weight: 300;
  font-size: 60px;
  color: white
}

.boilerplate-section {
  position: relative;
  height: 800px;
  width: auto;
  background: url('assets/switchel-room.jpg') center 30% no-repeat;
  background-size: cover;
}

.switchel-transparent {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(1%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))),url('assets/switchel-room.jpg') center / cover;
}

.layout-logo {
  height: 150px;
  position: relative;
  top: 5px;
}

.logo-font-typed {
  margin-left: 6px;
}

.mdl-layout__header {
  background: gray;
}

.logo_text {
  height: 24px;
  margin-left: 10px;
}

.logo {
  height: 35px;
  padding-right: 10px;
}

.nav-item {
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.mdl-layout__header {
  background-color: white;
}

.mdl-layout__header-row .mdl-navigation__link {
  color: black;
}

.mdl-grid {
  background-color: #03A9F4;
}

.mdl-layout__header-row {
  padding: 0 24px;
  height: 80px;
}
