@media screen and (max-width: 1024px) {
  .mdl-layout__header-row {
    font-size: 10px;
    height: 115%;
  }
}

@media screen and (max-width: 736px) {
  .mdl-tabs {
    display: none;
  }
}

.logo-font {
  padding-top: 250px;
  font-size: 60px;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  color: grey;
  font-weight: 300;
  line-height: 1;
}


.logo-font__sublogo {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  padding-top: 270px;
  font-weight: 300;
  font-size: 60px;
  color: white
}

.layout-logo {
  height: 150px;
  position: relative;
  top: 5px;
}

.mdl-layout__header.is-casting-shadow {
  height: 55px;
}

.logo-font-typed {
  margin-left: 6px;
}

.logo_text {
  height: 24px;
  margin-left: 10px;
}

.logo {
  height: 35px;
  padding-right: 10px;
}

.nav-item {
  position: relative;
  z-index: 1;
  text-decoration: none;
}

.mdl-layout__header {
  background-color: white;
  min-height: 55px;
}

.mdl-layout__header-row .mdl-navigation__link {
  color: black;
}

.mdl-grid.initial {
  overflow: hidden;
  background-color: #03A9F4;
  height: 370px;
  width: 100%;
  box-shadow:  0px 0px 8px 2px grey;
}

.mdl-grid.container {
  background-color: white;
  height: 500px;
  display: flex;
  width: 100%;
  margin-top:10px;
}

.city-text {
  text-align: center;
  font-family: inherit;
}

.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect-button {
  background: white;
  color: #03A9F4;
}

.mdl-cell.mdl-cell--6-col.mdl-cell--8-col-tablet-image {
  margin-top:112px;
}

.mdl-cell.mdl-cell--5-col.mdl-cell--8-col-tablet-austin {
  flex: 1;
  margin-left: 20px;
  height: inherit;
}

.mdl-cell.mdl-cell--5-col.mdl-cell--8-col-tablet-newyork {
  flex: 1;
  height: inherit;
}

.mdl-cell.mdl-cell--5-col.mdl-cell--8-col-tablet-text {
  margin-top: 80px;
}
.mdl-cell.mdl-cell--5-col.mdl-cell--8-col-text {
  flex: 1;
  height: inherit;
  margin-top: 70px;
}

.under-header-text {
  font-size: 15px;
  color: white;
  font-weight: 200;
}
.header-text {
  font-size: 35px;
  color: white;
}
.mdl-tabs {
  margin-left: 40px;
}

.mdl-layout__header-row {
  padding: 0 24px;
}

.our-service {
  font-size: 35px;
  margin-left: 45px;
}

.austin {
  height: 80%;
}

.newyork {
  height: 80%;
  margin-left: 75px;
}

.mdl-grid.services {
  background-color: #EBEFF2;
  height: 370px;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.mdl-card.mdl-shadow--6dp.cards {
  margin-bottom: 70px;
  margin-top: 60px;
}

.mdl-grid.text-services {
  background-color: #EBEFF2;
  height: 50px;
  width: 100%;
}

.lists {
  margin-left: 20px;
}

.card-container {
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}

.ux {
  width: 15%;
  background: url('./assets/img_ux.png') no-repeat;
  background-size: 100%;
  align-items: center;
}

.ui {
  width: 15%;
  background: url('./assets/img_ui.png') no-repeat;
  background-size: 100%;
  align-items: center;
}

.custom-dev {
  width: 15%;
  background: url('./assets/img_dev.png') no-repeat;
  background-size: 100%;
  align-items: center;
}
